/* ======= BREAKPOINTS ======= */
/* === For large devices ==== */
@media screen and (max-width:1200px) {
    .container {
        max-width: 960px;
    }

    .nav__btns {
        display: none;
    }

    .home {
        padding-top: 11rem;
    }

    .home__container,
    .about__container {
        grid-template-columns: 1fr;
    }

    .home__container {
        row-gap: 2rem;
    }

    .home__content {
        order: 1;
    }

    .home__img,
    .about__img {
        margin-inline: auto;
    }

    .home__img {
        border: 0.5rem solid var(--container-color);
        width: 380px;
        height: 380px;
    }

    .about__container {
        row-gap: 2.5rem;
    }

    .services__container,
    .portfolio__container {
        grid-template-columns: repeat(2, 1fr);
    }

    .contact__container {
        column-gap: 2rem;
    }
}

@media screen and (max-width:992px) {
    .container {
        max-width: 720px;
    }

    .nav {
        height: var(--header-height);
        column-gap: 1.25rem;
    }

    .nav__logo {
        font-size: 2rem;
    }

    .nav__btns,
    .nav__toggle,
    .nav__close {
        display: block;
    }

    .nav__link-btn {
        display: none;
    }

    .nav__menu {
        position: fixed;
        top: 0;
        right: -100%;
        width: 60vw;
        height: 100vh;
        background-color: var(--container-color);
        padding: 3.5rem;
        transition: all 0.8s var(--transition);
    }

    .show-menu {
        right: 0;
    }

    .nav__list {
        flex-direction: column;
        row-gap: 1.125rem;
    }

    .nav__close {
        font-size: 1.5rem;
        position: absolute;
        top: 1rem;
        right: 1rem;
    }

    .nav__social {
        column-gap: 1rem;
    }

    .nav__toggle {
        font-size: var(--h2-font-size);
    }

    .nav__close,
    .nav__toggle {
        cursor: pointer;
    }

    .home {
        padding-top: 9rem;
    }

    .home__img {
        width: 320px;
        height: 320px;
    }

    .services__icon {
        font-size: 2.5rem;
    }

    .services__title {
        margin-block: 1.5rem 1rem;
    }

    .contact__container {
        grid-template-columns: 1fr;
        row-gap: 2rem;
    }

    .contact__content {
        order: 1;
    }

    .contact__description {
        margin-bottom: 2rem;
    }

    .footer__social-link {
        font-size: var(--smaller-font-size);
        width: 36px;
        height: 36px;
    }

    .scrollup {
        width: 42px;
        height: 42px;
    }

    .scrollup__icon {
        font-size: 2rem;
    }

}

/* === For medium devices ==== */

@media screen and (max-width:768px) {
    .container {
        max-width: 540px;
    }

    .home__img {
        width: 280px;
        height: 280px;
    }

    .tabs__btns {
        flex-wrap: wrap;
        row-gap: 0.75rem;
        column-gap: 1.5rem;
    }

    .services__container,
    .portfolio__container,
    .footer__container {
        grid-template-columns: 1fr;
    }

    .footer__container {
        row-gap: 1.5rem;
        justify-items: center;
    }

    .footer__copyright {
        justify-self: center;
    }

    .portfolio__item .portfolio__data .portfolio__description,
    .portfolio__item .portfolio__data .portfolio__subtitle {
        display: none;
    }
}

@media screen and (max-width:576px) {
    .nav__menu {
        width: 100vw;
        padding: 2.75rem;
    }

    .home__img {
        width: 260px;
        height: 260px;
    }

    .services___item {
        padding: 2rem 1.5rem;
    }

    .footer__copyright {
        text-align: center;
    }
}

/* === For small devices ==== */

@media screen and (max-width:350px) {
    .home__img {
        width: 240px;
        height: 240px;
    }

    .tabs__description span:last-child {
        display: inline;
    }

    .portfolio__data {
        inset-inline: 1rem;
        bottom: 1rem;
    }
}