/* @font-face {
    font-family: "Poppins-Light";
    src: url("../fonts/Poppins-300-Light.ttf")format("truetype");
}

@font-face {
    font-family: "Poppins-Regular";
    src: url("../fonts/Poppins-400-Regular.ttf")format("truetype");
}

@font-face {
    font-family: "Poppins-Medium";
    src: url("../fonts/Poppins-500-Medium.ttf")format("truetype");
}

@font-face {
    font-family: "Poppins-SemiBold";
    src: url("../fonts/Poppins-600-SemiBold.ttf")format("truetype");
}

@font-face {
    font-family: "Poppins-Bold";
    src: url("../fonts/Poppins-700-Bold.ttf")format("truetype");
}

@font-face {
    font-family: "Montserrat-Black";
    src: url("../fonts/Montserrat-900-Black.ttf")format("truetype");
} */